{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 120, "endOfLine": "auto" }],
    "@typescript-eslint/member-delimiter-style": "error",
    "react/jsx-key": "error",
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-unused-vars": ["warn", { "args": "after-used", "ignoreRestSiblings": true }],
    "no-console": ["warn", { "allow": ["error"] }]
  }
}
